In [6]:
import pandas as pd
import os
import numpy as np

data = os.path.join(os.getcwd(), 'data', 'ppr_data_encoded.csv')
print(data)
df = pd.read_csv(data, encoding='latin-1')
df

C:\Users\rugby\PycharmProjects\Daft_ie_WebScraper\data\ppr_data_encoded.csv

,Unnamed: 0,year,input_string,sale_date,address,postal_code,ppr_county,price,not_full_market_price,vat_exclusive,...,accuracy,latitude,longitude,postcode,type,geo_county,electoral_district,electoral_district_id,region,small_area
0,1,2012,"' St. Martins', Ightermurragh, Ladysbridge,Cor...",18/09/2012,"' St. Martins', Ightermurragh, Ladysbridge",NaN,Cork,118000.00,No,No,...,ROOFTOP,51.898721,-8.027057,NaN,premise,Cork,Ightermurragh,18257,South-West (IE),047173003
1,2,2012,"' The Stone House', Ballyglass Upper, Tipperar...",16/01/2012,"' The Stone House', Ballyglass Upper, Tipperary",NaN,Tipperary,210000.00,No,No,...,ROOFTOP,52.438674,-8.171166,NaN,premise,South Tipperary,Tipperary Rural,23177,South-East (IE),217165003
2,3,2012,"'AVONDALE', MORRISTOWNBILLER, NEWBRIDGE,Kildar...",23/01/2012,"'AVONDALE', MORRISTOWNBILLER, NEWBRIDGE",NaN,Kildare,220000.00,No,No,...,ROOFTOP,53.178275,-6.815277,NaN,premise,Kildare,Morristownbiller,06078,Mid-East,087069011
3,4,2012,"'Abhann', 61 Dublin Road, Swords,Dublin,Ireland",12/12/2012,"'Abhann', 61 Dublin Road, Swords",NaN,Dublin,496089.00,No,No,...,ROOFTOP,53.451025,-6.225203,K67 R6W8,street_address,Fingal,Swords Village,04040,Dublin,267135002
4,5,2012,"'Annesgrove', 33 Glasheen road,Cork,Ireland",25/01/2012,"'Annesgrove', 33 Glasheen road",NaN,Cork,240000.00,No,No,...,ROOFTOP,51.884846,-8.505120,T12 P6C5,street_address,Cork City,Glasheen A,17030,South-West (IE),048031003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217226,217227,2017,"no 27 park avenue, miullers glen, swords,Dubli...",25/04/2017,"no 27 park avenue, miullers glen, swords",NaN,Dublin,271126.00,No,Yes,...,GEOMETRIC_CENTER,53.473945,-6.239782,NaN,"establishment,point_of_interest",Fingal,Swords-Lissenhall,04038,Dublin,267133026
217227,217228,2017,"no 7 the park, drummin village, borrisokane ro...",30/03/2017,"no 7 the park, drummin village, borrisokane road",NaN,Tipperary,140000.00,No,Yes,...,GEOMETRIC_CENTER,52.874621,-8.201943,NaN,"establishment,local_government_office,point_of...",North Tipperary,Nenagh West Urban,22002,Mid-West,217136008
217228,217229,2017,"no. 3 the garden, Newtown Hall, Maynooth,Kilda...",26/04/2017,"no. 3 the garden, Newtown Hall, Maynooth",NaN,Kildare,257268.72,No,Yes,...,RANGE_INTERPOLATED,53.376834,-6.607493,NaN,street_address,Kildare,Maynooth,06040,Mid-East,087066019
217229,217230,2017,"no. 7 lavender court, forest Hill, Kilnagleary...",20/01/2017,"no. 7 lavender court, forest Hill, Kilnagleary",NaN,Cork,310000.00,No,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217230,217231,2017,"oaklands drive, longford,Longford,Ireland",03/05/2017,"oaklands drive, longford",NaN,Longford,100000.00,No,Yes,...,GEOMETRIC_CENTER,53.730648,-7.777460,NaN,route,Longford,Longford Rural,09051,Midland,137045012

In [13]:
def set_region(x):
    x = x.strip()
    if x == 'Dublin':
        return 'Dublin'
    elif x == 'Cork':
        return 'Cork'
    elif x == 'Galway':
        return 'Galway'
    elif x == 'Limerick':
        return 'Limerick'
    elif x == 'Waterford':
        return 'Waterford'
    else:
        return 'Other areas'

df['area'] = df['ppr_county'].apply(lambda x: set_region(x))

df.head()

,Unnamed: 0,year,input_string,sale_date,address,postal_code,ppr_county,price,not_full_market_price,vat_exclusive,...,latitude,longitude,postcode,type,geo_county,electoral_district,electoral_district_id,region,small_area,area
0,1,2012,"' St. Martins', Ightermurragh, Ladysbridge,Cor...",18/09/2012,"' St. Martins', Ightermurragh, Ladysbridge",NaN,Cork,118000.0,No,No,...,51.898721,-8.027057,NaN,premise,Cork,Ightermurragh,18257,South-West (IE),047173003,Cork
1,2,2012,"' The Stone House', Ballyglass Upper, Tipperar...",16/01/2012,"' The Stone House', Ballyglass Upper, Tipperary",NaN,Tipperary,210000.0,No,No,...,52.438674,-8.171166,NaN,premise,South Tipperary,Tipperary Rural,23177,South-East (IE),217165003,Other areas
2,3,2012,"'AVONDALE', MORRISTOWNBILLER, NEWBRIDGE,Kildar...",23/01/2012,"'AVONDALE', MORRISTOWNBILLER, NEWBRIDGE",NaN,Kildare,220000.0,No,No,...,53.178275,-6.815277,NaN,premise,Kildare,Morristownbiller,06078,Mid-East,087069011,Other areas
3,4,2012,"'Abhann', 61 Dublin Road, Swords,Dublin,Ireland",12/12/2012,"'Abhann', 61 Dublin Road, Swords",NaN,Dublin,496089.0,No,No,...,53.451025,-6.225203,K67 R6W8,street_address,Fingal,Swords Village,04040,Dublin,267135002,Dublin
4,5,2012,"'Annesgrove', 33 Glasheen road,Cork,Ireland",25/01/2012,"'Annesgrove', 33 Glasheen road",NaN,Cork,240000.0,No,No,...,51.884846,-8.505120,T12 P6C5,street_address,Cork City,Glasheen A,17030,South-West (IE),048031003,Cork

In [24]:
subset_df = df[['year', 'price', 'area']]

In [17]:
subset_df.head()

   year     price         area
0  2012  118000.0         Cork
1  2012  210000.0  Other areas
2  2012  220000.0  Other areas
3  2012  496089.0       Dublin
4  2012  240000.0         Cork

In [30]:
subset_df['year'].value_counts()
subset_df.groupby(['year', 'area'], as_index=False).agg({
    "price": "mean",
})
# subset_df

    year         area          price
0   2012         Cork  174008.076629
1   2012       Dublin  280451.816690
2   2012       Galway  166858.556824
3   2012     Limerick  146380.130667
4   2012  Other areas  137449.306172
5   2012    Waterford  125207.796711
6   2013         Cork  173956.763380
7   2013       Dublin  326063.877421
8   2013       Galway  155707.116533
9   2013     Limerick  138891.635674
10  2013  Other areas  131282.526419
11  2013    Waterford  119106.606631
12  2014         Cork  178322.083571
13  2014       Dublin  363910.454222
14  2014       Galway  156545.751658
15  2014     Limerick  120970.223245
16  2014  Other areas  137167.000881
17  2014    Waterford  122179.729810
18  2015         Cork  204722.651930
19  2015       Dublin  350378.045523
20  2015       Galway  168047.801965
21  2015     Limerick  137870.311555
22  2015  Other areas  151207.397421
23  2015    Waterford  129890.192950
24  2016         Cork  196370.184523
25  2016       Dublin  398519.744050
26  2016       Galway  190566.038234
27  2016     Limerick  143498.270610
28  2016  Other areas  162293.389463
29  2016    Waterford  138870.539236
30  2017         Cork  222191.687232
31  2017       Dublin  403461.802417
32  2017       Galway  204534.254481
33  2017     Limerick  154277.108272
34  2017  Other areas  179247.816471
35  2017    Waterford  144419.255404

In [31]:
subset_df.groupby(['year', 'area'], as_index=False).agg({
    "price": "mean",
}).to_csv(os.path.join(os.getcwd(), 'data', 'dataframes', 'historical_sales.csv'))